:root {
    --grey-color: #333;
    --red-color: #e31837;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: var(--grey-color);
}

p {
    font-size: 13pt;
    line-height: 1.6;
    color: #666;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 16px;
}

nav ul {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 10px;
    padding: 2px;
    text-decoration: underline var(--red-color) 3px;
}

a {
    text-decoration: none;
    color: var(--grey-color);
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

a:hover {
    color: var(--red-color);
    border-bottom: 2px solid var(--red-color);
}

.sub-header {
    background-color: var(--red-color);
    color: white;
    padding: 18px;
    text-align: center;
}

.sub-header h1 {
    font-size: 16pt;
    margin: 0;
}

.forums {
    padding: 14pt;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
}

.forums h2 {
    margin-bottom: 12px;
}

.forum-list {
    list-style-type: none;
    padding: 0;
}

.forum-list li {
    margin-bottom: 16px;
    padding: 16px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.forum-list li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.forum-list a {
    font-weight: bold;
    color: var(--red-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.forum-list p {
    margin-top: 5px;
    color: #666;
}

footer {
    text-align: center;
    padding: 14px;
    background-color: var(--grey-color);
}

footer p {
    margin: 10px;
    font-size: 12pt;
    color: white;
}

fieldset {
    border: 1px solid #e0e0e0;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
}

fieldset legend {
    color: var(--red-color);
    font-weight: bold;
}

#grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    justify-content: stretch;
    align-content: space-evenly;
}

@media all and (min-width: 600px) {
    #grid-container{    
        grid-template-columns: 50% 50%;
    }

    header {
        flex-direction: row;
    }

    nav ul li {
        text-decoration: none;
    }
}

